# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Large files that should not be in Github
*.npy
*.png
*.h5

# Temporary config files
*.yaml

# Folders not required
/keras-dcgan
/keras-adversarial
/readings
/.idea
/training_dataset-*
/datasets

# Files from deep-learning-with-Keras
/deep-learning-with-Keras
/keras_utils.py
/keras_plot.py
/keras_experiments.py
/keras_std.py
